[feature]
	manyFiles = true
[color]
	ui = auto
[user]
	name = zerovox
	email = 933064+zerovox@users.noreply.github.com
[includeIf "gitdir:/Volumes/git/github.palantir.build/"]
    path = /Volumes/git/github.palantir.build/.gitconfig
[includeIf "gitdir:/Volumes/git/github.com/"]
    path = /Volumes/git/github.com/.gitconfig
[alias]
	amend = commit --amend --no-edit
	s = status
	d0 = diff --cached
	d1 = diff HEAD~1
	up = "!git remote update -p; git merge --ff-only @{u}"
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git diff-index --quiet HEAD; s=$?; [ $s != 0 ] && git stash save \"tmp stash from stash-rename\"; git stash apply $rev && shift && git stash save \"$@\" && [ $s != 0 ] && git stash pop stash@{1}; }; _"
	mergetest = "!f(){ git merge --no-commit --no-ff \"$1\"; git merge --abort; echo \"Merge aborted\"; };f "
	wip = commit -a -m wip
	lint = commit -a -m lint
	vfix = commit -a -m \"verify fix\"
	lfix = commit -a -m \"lint fix\"
	cleansrc = clean -xdf \"src/**/*.js*\" \"src/*.js*\"
	stash-staged = "!bash -c \"git stash --keep-index; git stash push -m \"staged\" --keep-index; git stash pop stash@{1}\""
	move-staged = "!bash -c \"git stash-staged;git commit -m \"temp\"; git stash; git reset --hard HEAD^; git stash pop\""
	extract-diff = "!f() { git diff $1..$2 -- $3 | git apply -; }; f"
[push]
	default = simple
	followTags = false
[pull]
	rebase = true
[rebase]
	autoStash = true
[merge]
	conflictstyle = zdiff3
[core]
	excludesFile = ~/.gitignore
	pager = delta
	editor = nano
[merge]
    conflictstyle = diff3
[delta]
    navigate = true
    # side-by-side = true
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[diff]
    algorithm = histogram
    colorMoved = default
[diff "zip"]
    textconv = unzip -c -a
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[init]
    templatedir = ~/.git/templates
[ghq]
	root = /Volumes/git
[credential]
	helper =
	helper = manager-core
[advice]
	detachedHead = false
[gpg]
	program = gpg_with_warning
